# Python
__pycache__/
*.pyc
.venv/
venv/

# Output-Dateien
output/

# Videos grundsätzlich ignorieren
*.mp4
*.avi
*.mov
*.mkv

# Input-Video ausdrücklich erlauben
!input_videos/
!input_videos/video4.mp4

# Assets
!assets/
!assets/images/
!assets/images/*.png
!assets/images/*.jpg

# Ergebnisse
*.csv

# YOLO weights
*.pt

# VS Code optional
.vscode/
*.afpub